<app-navbar></app-navbar>

<div class="page-background">
  <div class="container">
    <div class="left-column">
      <div class="input-container">
        <div class="booking">
          <b><label for="numSeats" class="col-form-label">Enter Number of Seats you want to Book:</label></b>
          <div class="input-group">
            <input type="number" id="numSeats" [(ngModel)]="numSeatsToBook" min="1" max="{{ seatLimit }}" required>&nbsp;
            <button class="btn btn-primary" (click)="bookSeats()">Book Seats</button>
          </div>
          <!-- Danger message for exceeding seat limit -->
          <div *ngIf="numSeatsToBook > 7" class="danger-message">Maximum 7 seats can be booked at a time.</div>
        </div>
      </div>

      <div class="selected-seats" *ngIf="selectedSeats.length > 0">
        <!-- Selected seat code-->
        <h3>Selected Seats:</h3>
        <ul>
          <li *ngFor="let seat of selectedSeats" class="seat-item">
            <div class="seat-number">{{ seat }}</div>
          </li>
        </ul>
      </div>
    </div>

    <div class="right-column">
      <table class="trainSeats">
        <!-- Seat Arrangement code-->
        <tr *ngFor="let row of seatArrangement; let i = index" class="seat-map">
          <td *ngFor="let seat of row; let j = index" class="seat" [class.available]="isSeatAvailable(i, j)"
            [class.booked]="isSeatBooked(i, j)">
            {{ getSeatNumber(i, j) }}
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
